/*
 * @file
 * Provides the layout styles for layout_twocol_bricks.
 *
 * @todo Using display: flex requires https://www.drupal.org/node/2842298 to be
 * in before this can be marked as stable.
 */
.region_left {
  width: 50%;
  float: left;
  display: inline-block;
}

.region_right {
  width: 50%;
  float: left;
  display: inline-block;
}





