.body {
    margin: 0px;
}

.header {
    background: linear-gradient(to top, white , #5ea4ff);
}

.settings {
    background: linear-gradient(to bottom, white , #5ea4ff);
}

.left-sidebar {
    background: linear-gradient(to left, white , #5ea4ff);
}

.content {
    background-color: white;
}


.footer {
    background-color: aliceblue;
}

.top-menu ul li, .footer ul li, .user-menu ul li {
    background-color: #5ea4ff;
    list-style-type: none;
    width: 15%;
    padding: 10px;
    border-left: 5px solid white;
}

.top-menu ul li a, .footer ul li a, .user-menu ul li a {
    color: white;
}

.top-menu ul, .footer ul, .user-menu ul {
    width: 100%;
    background: linear-gradient(to right, white , #5ea4ff);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

.settings-bar {
    width: 100%;
    background-color: rgba(192, 192, 192, 0);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

.author {
    color: red;
}

.av-price {
    color: #ff5847;
    font-size: 28px;
    border: 2px solid #5ea4ff;
    border-radius: 5px;
}

.teaser {
    border: 2px solid #5ea4ff;
    border-radius: 10px;
}

.group-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0 400px;
    background: linear-gradient(to right, white , #5ea4ff);
}

.group-right {
    background: linear-gradient(to right, white , #ff5847);
}

.group-header div {
    display: flex;
}

.layout--onecol img {
    display: block;
    margin: 0 auto;
}

.experimental h2 {
    text-align: center;
    background: linear-gradient(to right, white , #ff5847);
}

.icon-tab {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.horiz-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #ff645b;
}

.bodies {
    display: none;
    padding: 20px 10px;
}

.default {
    display: block;
}

.tab-paragraph {
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

.tab-header {
    background: linear-gradient(to right, white , #5ea4ff);
}




